html, body {
    display: flex;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

.outer_center_container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("backgrounds-min/beach-mountains.webp");
    background-size: cover;
    background-position: center;
}

div[class^="square-"] {
    display: flex;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 5%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 15px;
    border-radius: 10px;
    background: #abababad;
    color: #FFF;
    font-size: 22px;
}

.inner_center_container {
    display: flex;
    gap: 2.5vmin;
    background: #9d9d9d7a;
    padding: calc(1vmin + 10px);
    border-radius: 10px;
    position: fixed;
    bottom: 5%;
}